.post {
  display: flex;
  flex-direction: column;
  max-width: 820px;
  margin: 0 auto;
  padding: 40px 0;
}

.post__container {
}

.post__image {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
